<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867114240537-e99p3ce1s1s2pdmuvjt6ee6hrom7hf49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867114240537-e99p3ce1s1s2pdmuvjt6ee6hrom7hf49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>867114240537-4bu2jt9mf2ncnfhi2ps6gihj4d05tpfg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3nPSELLjcCb4r7kPE9zKpw-j8VaAvaBY</string>
	<key>GCM_SENDER_ID</key>
	<string>867114240537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.quickcam.app</string>
	<key>PROJECT_ID</key>
	<string>quickcam-c8481</string>
	<key>STORAGE_BUCKET</key>
	<string>quickcam-c8481.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867114240537:ios:e59058efbf6697b3f07888</string>
	<key>DATABASE_URL</key>
	<string>https://quickcam-c8481-default-rtdb.firebaseio.com</string>
</dict>
</plist>