<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273815913832-kf5jsskl1fjjfoilu6lbbm6cjgv1ie62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273815913832-kf5jsskl1fjjfoilu6lbbm6cjgv1ie62</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>273815913832-a76n9bu130ah8jstep16c0q9kf444c1c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCF0PBGqnCPVtKFYdYaHv1HYN5X-j4R7U0</string>
	<key>GCM_SENDER_ID</key>
	<string>273815913832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.FutbolCam</string>
	<key>PROJECT_ID</key>
	<string>futbolcam-ddf06</string>
	<key>STORAGE_BUCKET</key>
	<string>futbolcam-ddf06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273815913832:ios:64610225ac3f8f64b282dd</string>
	<key>DATABASE_URL</key>
	<string>https://futbolcam-ddf06.firebaseio.com</string>
</dict>
</plist>