<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141920700875-aditka6tbi2bahespe2g49t34be7e9ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141920700875-aditka6tbi2bahespe2g49t34be7e9ch</string>
	<key>API_KEY</key>
	<string>AIzaSyBOBVwEf8bMfwCreZS-IBAEqm57A0szOfg</string>
	<key>GCM_SENDER_ID</key>
	<string>141920700875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.Pic2Art</string>
	<key>PROJECT_ID</key>
	<string>pic2art-46a45</string>
	<key>STORAGE_BUCKET</key>
	<string>pic2art-46a45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:141920700875:ios:da69f29d76d9a6b391ce4e</string>
	<key>DATABASE_URL</key>
	<string>https://pic2art-46a45.firebaseio.com</string>
</dict>
</plist>
