<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446402422917-u9fce7mnjrhe633li75ma01t3r9ikikb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446402422917-u9fce7mnjrhe633li75ma01t3r9ikikb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>446402422917-8jl48uu62cvg1hm3kkplcs2qv571cn4p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX9PIvDUMkVp3ujk42U-YX1w2OjUXO7Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>446402422917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.viralcamLite</string>
	<key>PROJECT_ID</key>
	<string>viralcam-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>viralcam-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446402422917:ios:cd352574c47d9dc0e121ec</string>
	<key>DATABASE_URL</key>
	<string>https://viralcam-lite.firebaseio.com</string>
</dict>
</plist>