<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>987089186916-afgu3da6iqnfhqosqkvqm0e9k8febisg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.987089186916-afgu3da6iqnfhqosqkvqm0e9k8febisg</string>
	<key>API_KEY</key>
	<string>AIzaSyByYKvdBZiTuBogp55PWogJ_NDokbD_8hg</string>
	<key>GCM_SENDER_ID</key>
	<string>987089186916</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.storiCamPro</string>
	<key>PROJECT_ID</key>
	<string>storicam-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>storicam-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:987089186916:ios:e386bfe8c01bd2815a2f71</string>
	<key>DATABASE_URL</key>
	<string>https://storicam-pro.firebaseio.com</string>
</dict>
</plist>