<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWS</key>
	<dict>
		<key>CredentialsProvider</key>
		<dict>
			<key>CognitoIdentity</key>
			<dict>
				<key>Default</key>
				<dict>
					<key>PoolId</key>
					<string>us-east-1:ed78a620-7677-4c87-a83c-520ca121ecea</string>
					<key>Region</key>
					<string>us-east-1</string>
				</dict>
			</dict>
		</dict>
		<key>S3TransferUtility</key>
		<dict>
			<key>Default</key>
			<dict>
				<key>Region</key>
				<string>us-west-1</string>
			</dict>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb207454689773413</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>storiCamPro</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.987089186916-afgu3da6iqnfhqosqkvqm0e9k8febisg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>96c68e9c0138cb4916e862697ecd5746657596e6</string>
		<key>Kits</key>
		<array/>
	</dict>
	<key>FacebookAppID</key>
	<string>207454689773413</string>
	<key>FacebookDisplayName</key>
	<string>SocialCAM</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tiktokopensdk</string>
		<string>tiktoksharesdk</string>
		<string>snssdk1180</string>
		<string>snssdk1233</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-messenger-share-api</string>
		<string>instagram-stories</string>
		<string>instagram</string>
		<string>snapchat</string>
		<string>itms-apps</string>
		<string>storiCamPro</string>
		<string>comgooglemaps-x-callback</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>SocialCAM would like access your Camera.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>SocialCAM is use face id for login </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SocialCAM Show your location on the map</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>SocialCAM uses microphoto for video recording</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SocialCAM is use Photo Library for add your pictures</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>SocialCAM is use Photo Library for select profile picture</string>
	<key>SCSDKClientId</key>
	<string>330b8d3a-6dd0-4e4d-871d-fde06e0c917b</string>
	<key>SCSDKRedirectUrl</key>
	<string>storiCamPro://app</string>
	<key>UIAppFonts</key>
	<array>
		<string>Courier Prime Italic.ttf</string>
		<string>Courier Prime.ttf</string>
		<string>Duration.ttf</string>
		<string>Duration Book.ttf</string>
		<string>Linoleo Script.ttf</string>
		<string>FontAwesome.otf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LoginViewController</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
