<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096291093157-frg8qr1kj6elognvos8v0tv0k1vce1g6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096291093157-frg8qr1kj6elognvos8v0tv0k1vce1g6</string>
	<key>API_KEY</key>
	<string>AIzaSyAGZ2GzuLHcGiU3jljtiyG0pWBkoSoaazk</string>
	<key>GCM_SENDER_ID</key>
	<string>1096291093157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.SpeedCamLite</string>
	<key>PROJECT_ID</key>
	<string>speedcam-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>speedcam-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096291093157:ios:9466caceeea5c6d87d9b4c</string>
	<key>DATABASE_URL</key>
	<string>https://speedcam-lite.firebaseio.com</string>
</dict>
</plist>