<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727213807905-f0kqt2sb2b2m8id5jdt0i9nb2hecsp5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727213807905-f0kqt2sb2b2m8id5jdt0i9nb2hecsp5g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>727213807905-9qittifbu70b5g2ttgrsja8ftesc7bbj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCn74HYTdsuRWzkGsId0IgEGBAe1ZXFLxk</string>
	<key>GCM_SENDER_ID</key>
	<string>727213807905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.fastCamLite</string>
	<key>PROJECT_ID</key>
	<string>fastcam-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>fastcam-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727213807905:ios:2d6ca7508fd7d7828c8660</string>
	<key>DATABASE_URL</key>
	<string>https://fastcam-lite.firebaseio.com</string>
</dict>
</plist>