<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597183105412-7ntd6dpmlbkroa0g9tae9hfr67lr1v9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597183105412-7ntd6dpmlbkroa0g9tae9hfr67lr1v9r</string>
	<key>API_KEY</key>
	<string>AIzaSyD98DGWLsAPFEn2e0m72ghTKuiMsj2vHII</string>
	<key>GCM_SENDER_ID</key>
	<string>597183105412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapcamLite.app</string>
	<key>PROJECT_ID</key>
	<string>snapcamlite-app</string>
	<key>STORAGE_BUCKET</key>
	<string>snapcamlite-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597183105412:ios:fa8dd137b73c6fc0ba75d1</string>
</dict>
</plist>