<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817765671057-32ig5knl2avk748mhnjrvk9jn453vkqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817765671057-32ig5knl2avk748mhnjrvk9jn453vkqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBPfolm4DG9lJHe8W5UM9rDB3ZbeXiAt8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>817765671057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simform.viralcam</string>
	<key>PROJECT_ID</key>
	<string>snapcam-lite</string>
	<key>STORAGE_BUCKET</key>
	<string>snapcam-lite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817765671057:ios:7b0a6ca759b13178d09f30</string>
	<key>DATABASE_URL</key>
	<string>https://snapcam-lite.firebaseio.com</string>
</dict>
</plist>